<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Worked at</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.list %></td>
        <td><%= profile.worked_at %></td>
        <td><%= profile.title %></td>
        <td><%= link_to 'Show', [:admin, profile] %></td>
        <td><%= link_to 'Edit', edit_admin_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', [:admin, profile], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_admin_profile_path %>
