<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @picture.work_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @picture.avatar %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
