<div id='category-navigation'>
  <%= render 'home/category_navigation', type: "d" %>
</div>
<div class='category'>
  <div class='works'>
    <% @works.each do |work| %>
      <%= link_to home_work_path(work) do %>
      <div class='work-item'>
        <div class='image' style='background-image: url("<%= image_url work.pictures.first.avatar_url %>")'>
          <%= image_tag work.pictures.first.avatar.thumb.url %>
        </div>
        <h3 class='title'>
          <%= work.title %>
        </h3>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#mm3').addClass("active");
    $('#md3').addClass("active");
    $("#dc<%=@category.id%>").addClass("active");
    $("#mc<%=@category.id%>").addClass("active");
  });
</script>
