<p id="notice"><%= notice %></p>

<h1>Category 리스트</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= link_to 'Works 추가하기', admin_category_works_path(category) %></td>
        <td><%= link_to '수정하기', edit_admin_category_path(category) %></td>
        <td><%= link_to '삭제하기', admin_category_path(category), method: :delete, data: { confirm: '정말 삭제하겠습니까?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '새 Category 생성', new_admin_category_path %>
